@model Role

@{
    ViewBag.Title = "Update Role";
}

<h2 class="mb-4">Add Role</h2>

@using (Html.BeginForm("Edit", "Role", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            @Html.HiddenFor(m => m.Id)
            <div class="col-md-6">
                <div class="form-group">
                    <label>Name</label>
                    @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control", placeholder = "Enter Role Name" })
                </div>
            </div>
           <div class="col-md-6">
                <div class="form-group">
                    <label>Active</label>
                    <div class="form-check">
                        @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-check-input" })
                        <label class="form-check-label">Yes</label>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success btn-lg">Update Role</button>
            </div>
        </div>
    </div>

    @if (ViewBag.Errors != null)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewBag.Errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}
}
