@model IEnumerable<Role>

@{
    ViewBag.Title = "Role List";
}

<h2>Roles</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>IsActive</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.RoleName</td>
                <td>
                    @if (role.IsActive)
                    {
                        <i class="fas fa-check-square text-success"></i> 
                    }
                    else
                    {
                        <i class="far fa-square text-danger"></i>
                    }
                </td>
               <td>
                    <a asp-action="EditRole" asp-route-id="@role.Id" class="icon-btn text-warning m-1">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("CreateRole", "Role")" class="btn btn-success">Create new role</a>